@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');
.body { 
  font-family: "Signika Negative", sans-serif; 
  font-weight: 300;
  height: 400vh;
  text-align: center
}

.delayed-section {
  position: absolute;
  width: 30vw;
  height: 38.87vw;
}
.delayed-section .inner-container {
  will-change: transform;
}
.delayed-section img {
  max-width: 100%;
  will-change: transform;
}

#del1 {
  top: 101vh;
  left: 10vw;
}
#del2 {
  top: 110vh;
  left: 60vw;
}
#del3 {
  top: 120vh;
  left: 30vw;
}

a {
    color: #555;
    font-weight: 400;
  }
  
  .pSection {
    position: relative;
    padding-top: 200px;
    padding-bottom: 300px;
  }
  
  .container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1070px;
    position: relative;
    z-index: 1;
  }
  
  .pContent {
    width: 65%;
    background-color: rgba(78,152,21,0.8);
    color: white;
    padding: 40px 60px;
  }
  
  .pImage {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 900px;
  }



